.header1 {
  text-align: center;
  border: 4px solid crimson;
  background-color: beige;
}
.header2 {
  text-align: center;
  font-style: italic;
}

body {
  background-color: lightgray;
}

.col1 {
  width: 300px;
  float: left;
  border: 2px black solid;
  padding-top: 5px;
  margin: 5px;
}

.img1 {
  width: 290px;
  height: 290px;
}

.p1 {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

.p2 {
  text-align: center;
  font-size: 18px;
}

/* Added responsive media */

@media screen and (max-width: 600px) {
 body { background-color: black;
 color: white;
 font-style: italic;
 }
}

@media screen and (max-width: 550px) {
  body {
    background-color: teal;
    font-weight: bold;
    font-style: normal;
  }
}

@media screen and (min-width: 768px) {
  .col1 {
    width: 300px;
    float: left;
    padding: 20px;
  }
}

aasdad
